body {
    display: flex;

    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
    background-color: #a4a4a4;
    font-size: 40px;
    font-family: Verdana;
}

.season {
    width: 400px;
    height: 440px;
    margin: 10px;
}

.season img {
    width: 300px;
    height: auto;
}

.season p {
    text-align: center;
}
.nav {
    
}
#footer {
    color: aqua;
}