p {
    color: seagreen;
}
nav a {
    color: khaki;
    text-decoration: none;
    background-color: darkblue;
}
nav a:hover {
    color: blueviolet;
    font-size: larger;
}
div {
    background-color: purple;
}